<html lang="tr">
<head>
    <vc:meta-data />
    <partial name="Bundles/_StyleSheetBundles" />
</head>
<body>
    <vc:navbar />
    @RenderBody()
    <vc:footer />
    <partial name="Bundles/_JavaScriptBundles" />
</body>
</html>