@model UmbracoBlogCMS.App_Code.Models.ViewComponentModels.MetaDataView;

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>@Model?.Title</title>
<meta name="author" content="@Model?.Author">
<meta name="description" content="@Model?.Description">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">