<script src="~/scripts/vendor/modernizr-3.5.0.min.js"></script>
<script src="~/scripts/vendor/jquery-1.12.4.min.js"></script>
<script src="~/scripts/popper.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<script src="~/scripts/owl.carousel.min.js"></script>
<script src="~/scripts/isotope.pkgd.min.js"></script>
<script src="~/scripts/ajax-form.js"></script>
<script src="~/scripts/waypoints.min.js"></script>
<script src="~/scripts/jquery.counterup.min.js"></script>
<script src="~/scripts/imagesloaded.pkgd.min.js"></script>
<script src="~/scripts/scrollIt.js"></script>
<script src="~/scripts/jquery.scrollUp.min.js"></script>
<script src="~/scripts/wow.min.js"></script>
<script src="~/scripts/gijgo.min.js"></script>
<script src="~/scripts/nice-select.min.js"></script>
<script src="~/scripts/jquery.slicknav.min.js"></script>
<script src="~/scripts/jquery.magnific-popup.min.js"></script>
<script src="~/scripts/plugins.js"></script>

<!--contact js-->
<script src="~/scripts/contact.js"></script>
<script src="~/scripts/jquery.ajaxchimp.min.js"></script>
<script src="~/scripts/jquery.form.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/mail-script.js"></script>
<script src="~/scripts/main.js"></script>

<script>
    $('#datepicker').datepicker({
        iconsLibrary: 'fontawesome',
        icons: {
            rightIcon: '<span class="fa fa-calendar-o"></span>'
        }
    });
    $('#datepicker2').datepicker({
        iconsLibrary: 'fontawesome',
        icons: {
            rightIcon: '<span class="fa fa-calendar-o"></span>'
        }

    });
</script>